body {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar, #toolbar, .no-print {
    display: none;
}

@media print {
    @page {
        size: auto;
    }

    body {
        padding-top: 20px;
    }

    #main {
        width: 100% !important;
    }
}
